<hr/>
<div class="row">
	<div class="col-md-6">
		<p>&copy; 2015 - Blockz3D &lt;<a href="mailto:contact@blockz3d.com">contact@blockz3d.com</a>&gt; &lt;<a href="mailto:contact@keysndr.win">contact@keysndr.win</a>&gt;
		</p>
	</div>
	<div class="col-md-6">
		<div class="pull-right">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://www.facebook.com/keysndr/" target="_blank"><img src="media/social/social-facebook.png" alt="facebook" class="img-rounded img-responsive"/></a></li>
				<li><a href="https://twitter.com/key_sndr" target="_blank"><img src="media/social/social-twitter.png" alt="twitter" class="img-rounded img-responsive" /></a></li>
				<li><a href="https://plus.google.com/+KeysndrWinplus/about" target="_blank"><img src="media/social/social-google.png" alt="Google+" class="img-rounded img-responsive" /></a></li>
				<!--<li><a href="https://www.youtube.com/channel/UCJNUDhAQE6vmyV-COnGhd9g" target="_blank"><img src="~/Content/Media/social/social-youtube.png" alt="Youtube" class="img-rounded img-responsive" /></a></li>-->
			</ul>
		</div>
	</div>
</div>