<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand" target="_self"><img src="media/favicon.ico.png" style="width: 50px;" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html" target="_self">Home</a></li>
                <li><a href="downloads.html" target="_self">Downloads</a></li>
                <li><a href="tutorial.html" target="_self">Tutorials</a></li>
                <li><a href="contact.html" target="_self">Contact</a></li>
                <li><a href="news.html" target="_self">News</a></li>
                <li><a href="https://github.com/samiy-xx/keysndr/wiki" target="_self">Wiki</a></li>
            </ul>
        </div>
    </div>
</div>