html, body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

input[type=range] {
    background-color: #eee;
}
.input-group {
    margin: 10px;
}
.input-group > span {
    min-width: 100px;
}
.modal-body > h3 {
    text-align: center;
}