html, body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.well > div {
    margin: 5px;
}
.input-group {
    width: 100%;
}
.input-group-addon {
    width: 150px;
    text-align: left;
}
.panel-body > div {
    margin: 5px;
}

btn-group-justified .btn-group {
    margin: 5px;
}