html, body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    height: 100%;
}

.panel-body > div {
    margin: 5px;
}
