<div class="well">
    <h1>Welcome</h1>

    <h3>KeySndr Setup</h3>

    <p>The setup will prepare KeySndr for your computer.</p>
    <p>Steps required are</p>
    <ol>
        <li>This setup welcome page</li>
        <li>Fill in a path for an <em>existing</em> folder on your computer where KeySndr files* should be stored</li>
        <li>Choose storage type. Key/value storage or File system for those who want to edit files manually</li>
        <li>Wait for server reload</li>
    </ol>

    <em>* This includes configurations, scripts, script source files etc...</em>
</div>