<div class="well">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon-2">Data storage</span>
        <select name="sequenceKey" class="form-control input-lg" ng-model="config.useObjectStorage" ng-options="o.v as o.n for o in [{ n: 'Local file system', v: false }, { n: 'Object storage', v: true }]" aria-describedby="basic-addon-2">

        </select>
    </div>

    <div data-ng-show="config.useObjectStorage">
        <h3>Object storage</h3>
        <p>Script source files are stored on your local filesystem. Everything else is stored on object storage.</p>
    </div>
    <div data-ng-show="!config.useObjectStorage">
        <h3>File System</h3>
        <p>Everything is stored on on local file system at path {{ config.dataFolder }}.</p>
    </div>
</div>