<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1" />
    <meta name="viewport" content="height=device-height, user-scalable=no initial-scale=1" />
    <title>KeySndr - Management</title>
    <link rel="SHORTCUT ICON" href="media/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/edit-grid.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app/keys.js"></script>
    <script src="scripts/app/controllers/main-controller.js"></script>
    <script src="scripts/app/controllers/edit-grid-controller.js"></script>
    <script src="scripts/app/services/api_service.js"></script>
</head>
<body ng-app="keysndr" data-ng-controller="mainController">
    <header ng-include src="'views/partials/navigation.html'"></header>
<div class="container body-content">
    <div data-ng-controller="editGridController" style="height: 100%; width: 100%;">
        <div class="row" ng-show="hasError">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Error</div>
                    <div class="panel-body">
                        {{ scope.errorMessage }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="well">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon_1">Config name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type="text" class="form-control" placeholder="Config Name" ng-model="inputConfiguration.name" aria-describedby="basic-addon_1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon_2">File Name&nbsp;&nbsp;</span>
                        <input type="text" class="form-control" placeholder="File Name" ng-model="inputConfiguration.fileName" aria-describedby="basic-addon_2">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-ng-click="saveConfiguration()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Exit</button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div class="row" style="height: 80%">
            <div class="col-md-6" style="height: 100%">
                <table class="grid-table">
                    <tr data-ng-repeat="row in configuration" class="grid-row">
                        <td class="grid-cell"
                            data-ng-repeat="col in row"
                            data-ng-class="{clickable : true}"
                            data-ng-style="{'background-color': col.color, 'color': col.textColor}"
                            data-ng-click="setForEdit(col)">
                            {{ col.name }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6" style="height: 100%">
                <div class="panel panel-default" data-ng-show="currentAction !== null">
                    <div class="panel-heading">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-danger btn-xs" data-ng-click="deleteCurrentAction()">Delete</a>
                        </div>
                        <h4 class="panel-title">Input Action</h4>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon_3">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="text" class="form-control" placeholder="Action Name" ng-model="currentAction.name" aria-describedby="basic-addon_3">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon_4">Color&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="color" class="form-control" name="actionColor" data-ng-model="currentAction.color" aria-describedby="basic-addon_4" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon_5">Text Color</span>
                            <input type="color" class="form-control" name="textColor" data-ng-model="currentAction.textColor" aria-describedby="basic-addon_5" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon_6">Enabled</span>
                            <input type="checkbox" class="form-control" name="actionEnabled" data-ng-model="currentAction.isEnabled" aria-describedby="basic-addon_6" />
                        </div>

                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-ng-click="addSequence()"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Add Sequence</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                    Add Script
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li data-ng-repeat="s in availableScripts"><a href="#" data-ng-click="addScript(s)">{{ s}}</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div data-ng-repeat="scriptName in currentAction.scriptSequences">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-danger btn-xs" data-ng-click="deleteScript($index)">Delete</a>
                            </div>
                            <h4 class="panel-title">Script #{{ $index }}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <p>{{ scriptName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-repeat="sequence in currentAction.sequences">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-danger btn-xs" data-ng-click="moveSequence($index, -1)">Move up</a>
                                <a href="#" class="btn btn-danger btn-xs" data-ng-click="moveSequence($index, 1)">Move Down</a>
                                <a href="#" class="btn btn-danger btn-xs" data-ng-click="deleteSequence($index)">Delete</a>
                            </div>
                            <h4 class="panel-title">Input Sequence #{{ $index }}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon-1-{{ $index}}">MS</span>
                                <input type="text" class="form-control" data-ng-model="sequence.keepdown" aria-describedby="basic-addon-1-{{ $index}}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon-2-{{ $index}}">Key</span>
                                <select name="sequenceKey" class="form-control input-lg" ng-model="currentAction.sequences[$index].entry" ng-options="o.key for o in keys track by o.key" aria-describedby="basic-addon-2-{{ $index}}">
                                    <option value="" disabled>Choose Key</option>
                                </select>
                            </div>

                            <h3>Windows modifier keys</h3>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasWinModifier($index, 'Control')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setWinModifierForSequence($index, 'Control')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Ctrl
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasWinModifier($index, 'Alt')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setWinModifierForSequence($index, 'Alt')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Alt
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasWinModifier($index, 'Shift')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setWinModifierForSequence($index, 'Shift')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Shift
                                    </button>
                                </div>
                            </div>

                            <h3>Extra modifiers</h3>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'ControlKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'ControlKey')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Ctrl
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'Menu')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'Menu')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Alt
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'ShiftKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'ShiftKey')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Shift
                                    </button>
                                </div>
                            </div>

                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'LControlKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'LControlKey')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> L-Ctrl
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'RControlKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'RControlKey')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> R-Ctrl
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'LMenu')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'LMenu')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> L-Alt
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'RMenu')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'RMenu')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> R-Alt
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'LShiftKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'LShiftKey')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> L-Shift
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-ng-class="(hasModifier($index, 'RShiftKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'RShiftKey')">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> R-Shift
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>