<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1" />
    <meta name="viewport" content="height=device-height, user-scalable=no initial-scale=1" />
    <title>KeySndr - Management</title>
    <link rel="SHORTCUT ICON" href="media/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/edit-view.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/FileSaver.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app/keys.js"></script>
    <script src="scripts/app/controllers/main-controller.js"></script>
    <script src="scripts/app/controllers/edit-controller.js"></script>
    <script src="scripts/app/controllers/edit-view-controller.js"></script>
    <script src="scripts/app/directives/key-listener.js"></script>
    <script src="scripts/app/services/api_service.js"></script>
</head>
<body ng-app="keysndr" data-ng-controller="mainController">
    <header ng-include src="'views/partials/navigation.html'"></header>
    <div class="container body-content" data-ng-controller="editController">
        <div data-ng-controller="editViewController">
            <div ng-include src="'views/partials/success-message-row.html'"></div>
            <div ng-include src="'views/partials/error-message-row.html'"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon_11">Config name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="text" class="form-control" placeholder="Config Name" ng-model="inputConfiguration.name" aria-describedby="basic-addon_1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon_13">Path to view&nbsp;&nbsp;</span>
                            <input type="text" class="form-control" placeholder="Path to view" ng-model="inputConfiguration.view" aria-describedby="basic-addon_2">
                        </div>
                        <!-- Begin selecting action target -->
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button
                                    title="Use desktop as the action target"
                                    type="button"
                                    class="btn btn-default"
                                    data-ng-model="processSelector.useDesktopWindow"
                                    data-ng-class="{active : processSelector.useDesktopWindow}"
                                    data-ng-click="setProcessTarget(true, false, false)">
                                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                                </button>
                                <button
                                    type="button"
                                    title="Use current foreground window as the target"
                                    class="btn btn-default"
                                    data-ng-class="{active : processSelector.useForegroundWindow}"
                                    data-ng-click="setProcessTarget(false, true, false)">
                                    <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                                </button>
                                <button type="button"
                                        title="Use process name"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" 
                                        aria-expanded="false"
                                        class="btn btn-default dropdown-toggle"
                                        data-ng-class="{active : processSelector.useProcessName}"
                                        data-ng-click="setProcessTarget(false, false, true); getProcessNames()">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li data-ng-repeat="p in processNames track by $index"><a href="#" data-ng-click="setProcessName(p)">{{ p }}</a></li>
                                </ul>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                data-ng-disabled="!processSelector.useProcessName"
                                placeholder="Process name"
                                ng-model="inputConfiguration.processName" 
                                aria-describedby="basic-addon_2">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <div class="btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button
                                    type="button"
                                    class="btn btn-default"
                                    data-ng-click="addAction()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Action
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button
                                    type="button"
                                    class="btn btn-default"
                                    data-ng-click="saveConfiguration()">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button
                                    type="button"
                                    class="btn btn-default"
                                    data-ng-click="exportConfiguration()">
                                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button
                                    type="button"
                                    class="btn btn-warning"
                                    data-ng-click="exitConfig()">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Exit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div data-ng-repeat="action in inputConfiguration.actions">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn-group pull-right">
                                    <a
                                        href="#"
                                        title="Remove"
                                        class="btn btn-danger btn-xs"
                                        data-ng-click="deleteAction($index)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a
                                        href="#"
                                        title="Edit"
                                        class="btn btn-primary btn-xs"
                                        data-ng-click="setForEdit(action)">
                                        <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <h4 class="panel-title">Action {{ action.name }}</h4>
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <p>Sequences {{ action.sequences.length}}</p>
                                    <p>Scripts {{ action.scriptSequences.length}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default" data-ng-show="currentAction !== null">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-danger btn-xs" data-ng-click="deleteCurrentAction()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>
                            <h4 class="panel-title">Input Action</h4>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon_3">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="text" class="form-control" placeholder="Action Name" ng-model="currentAction.name" aria-describedby="basic-addon_3">
                            </div>
                            
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon_6">Enabled</span>
                                <input type="checkbox" class="form-control pull-right" name="actionEnabled" data-ng-model="currentAction.isEnabled" aria-describedby="basic-addon_6"/>
                            </div>

                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" data-ng-click="addSequence()"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Add Sequence</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                        Add Script
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li data-ng-repeat="s in availableScripts"><a href="#" data-ng-click="addScript(s)">{{ s}}</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div data-ng-repeat="script in currentAction.scriptSequences">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn-group pull-right">
                                    <a href="#" class="btn btn-danger btn-xs" data-ng-click="deleteScript($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </div>
                                <h4 class="panel-title">Script #{{ $index }}</h4>
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <p>{{ script.scriptName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-repeat="sequence in currentAction.sequences">
                        <!-- Panel -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="heading_{{ $index }}">
                                    <div class="btn-group pull-right">
                                        <a href="#"
                                           title="Move up"
                                           class="btn btn-primary btn-xs"
                                           data-ng-disabled="!canMoveSequence($index, -1)"
                                           data-ng-click="moveSequence($index, -1)">
                                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                        </a>
                                        <a href="#"
                                           title="Move down"
                                           class="btn btn-primary btn-xs"
                                           data-ng-disabled="!canMoveSequence($index, 1)"
                                           data-ng-click="moveSequence($index, 1)">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                        </a>
                                        <a href="#"
                                           title="Remove"
                                           class="btn btn-danger btn-xs"
                                           data-ng-click="deleteSequence($index)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_{{ $index }}" aria-expanded="true" aria-controls="collapse_{{ $index }}">
                                        <h4 class="panel-title">Input Sequence #{{ $index }}</h4>
                                    </a>
                                </div>
                                <div id="collapse_{{ $index }}" class="panel-collapse collapse" data-ng-class="$index == 0 ? 'in' : ''" role="tabpanel" aria-labelledby="heading_{{ $index }}">
                                    <div class="panel-body">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon-1-{{ $index}}">MS</span>
                                            <input type="text" class="form-control" data-ng-model="sequence.keepdown" aria-describedby="basic-addon-1-{{ $index}}">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon-2-{{ $index}}">Key</span>
                                            <select name="sequenceKey" class="form-control input-lg" ng-model="currentAction.sequences[$index].entry" ng-options="o.key for o in keys track by o.key" aria-describedby="basic-addon-2-{{ $index}}">
                                                <option value="" disabled>Choose Key</option>
                                            </select>
                                        </div>
                                        <div class="input-group" key-listener="{{ $index }}">
                                            <span class="input-group-addon" id="basic-addon-3-{{ $index}}">Keyboard</span>
                                            <input type="text" class="form-control" placeholder="Focus here and type a key" aria-describedby="basic-addon-3-{{ $index}}">
                                        </div>


                                        <h3>Modifiers</h3>
                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'ControlKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'ControlKey')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Ctrl
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'Menu')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'Menu')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Alt
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'ShiftKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'ShiftKey')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Shift
                                                </button>
                                            </div>
                                        </div>

                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'LControlKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'LControlKey')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> L-Ctrl
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'RControlKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'RControlKey')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> R-Ctrl
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'LMenu')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'LMenu')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> L-Alt
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'RMenu')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'RMenu')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> R-Alt
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'LShiftKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'LShiftKey')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> L-Shift
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" data-ng-class="(hasModifier($index, 'RShiftKey')) ? 'btn btn-success' : 'btn btn-default'" data-ng-click="setModifierForSequence($index, 'RShiftKey')">
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> R-Shift
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>