<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1" />
    <meta name="viewport" content="height=device-height, user-scalable=no initial-scale=1"/>
    <title>KeySndr - Management</title>
    <link rel="SHORTCUT ICON" href="media/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet"/>

    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/FileSaver.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app/controllers/main-controller.js"></script>
    <script src="scripts/app/controllers/frontpage_controller.js"></script>
    <script src="scripts/app/services/api_service.js"></script>
</head>
<body ng-app="keysndr" data-ng-controller="mainController">
<header ng-include src="'views/partials/navigation.html'"></header>

<div class="container body-content" data-ng-cloak>
    <div data-ng-controller="frontPageController">
        <div class="row" ng-show="hasError">
            <div class="col-md-10">
                <div class="panel panel-danger">
                    <div class="panel-heading">Error</div>
                    <div class="panel-body">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-ng-show="availableViewConfigurations !== null">
            <div class="col-md-10">
                <h3>Configurations with view</h3>
                <div class="well">
                    <p data-ng-show="availableViewConfigurations.length === 0">Nothing here. Try creating some.</p>
                    <ul class="list-group">
                        <li class="list-group-item clearfix" data-ng-repeat="conf in availableViewConfigurations">
                            {{ conf }}
                            <span class="pull-right">
                                    <button data-ng-click="openView($index)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Open</button>
                                    <button data-ng-click="editView($index)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
                                    <button data-ng-click="exportView($index)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Export</button>
                                    <button data-ng-click="removeView($index)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button>
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <button data-ng-click="createView()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</button>
            </div>
        </div>
        <div class="row" data-ng-show="availableViewConfigurations !== null">
            <div class="col-md-10">
                <h3>Grid configurations</h3>
                <div class="well">
                    <p data-ng-show="availableLegacyConfigurations.length === 0">Nothing here. Try creating some.</p>
                    <ul class="list-group">
                        <li class="list-group-item clearfix" data-ng-repeat="conf in availableLegacyConfigurations">
                            {{ conf }}
                            <span class="pull-right">
                                <button data-ng-click="openGrid($index)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Open</button>
                                <button data-ng-click="editGrid($index)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
                                <button data-ng-click="exportGrid($index)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Export</button>
                                <button data-ng-click="removeGrid($index)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button>
                             </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <button data-ng-click="createGrid()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>