<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1" />
    <meta name="viewport" content="height=device-height, user-scalable=no initial-scale=1" />
    <title>KeySndr - Management</title>
    <link rel="SHORTCUT ICON" href="media/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/play.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/jquery-ui.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/angular-deckgrid/angular-deckgrid.js"></script>
    <script src="scripts/app/controllers/play-grid-controller.js"></script>
    <script src="scripts/app/directives/blink-element.js"></script>
    <script src="scripts/app/services/api_service.js"></script>
</head>
<body ng-app="keysndr">
    <div class="container body-content">
        <div data-ng-controller="playGridController" style="height: 100%; width: 100%;">
            <div class="row" ng-show="hasError">
                <div class="col-md-10">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Error</div>
                        <div class="panel-body">
                            {{ scope.errorMessage }}
                        </div>
                    </div>
                </div>
            </div>
            <table class="grid-table">
                <tr data-ng-repeat="row in configuration" class="grid-row">
                    <td
                        class="grid-cell"
                        blink-element="1000"
                        data-ng-repeat="col in row"
                        data-ng-class="{clickable : col.name.length > 0}"
                        data-ng-style="{'background-color': col.color, 'color': col.textColor}"
                        data-ng-click="execute(col)">
                        {{ col.name }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>