<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1" />
    <meta name="viewport" content="height=device-height, user-scalable=no initial-scale=1" />
    <title>KeySndr - Settings</title>
    <link rel="SHORTCUT ICON" href="media/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app/controllers/main-controller.js"></script>
    <script src="scripts/app/controllers/settings_controller.js"></script>
    <script src="scripts/app/services/api_service.js"></script>
</head>
<body ng-app="keysndr" data-ng-controller="mainController">
    <header ng-include src="'views/partials/navigation.html'"></header>
<div class="container body-content">
    <div data-ng-controller="settingsController">
        <div class="row" ng-show="hasError">
            <div class="col-md-10">
                <div class="panel panel-danger">
                    <div class="panel-heading">{{ message }}</div>
                    <div class="panel-body">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!hasError && message.length > 0">
            <div class="col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading">{{ message }}</div>
                    <div class="panel-body">
                        Settings saved with success
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="input_settings_ip" class="control-label">Server IP</label>
                        <input id="input_settings_ip" type="text" class="form-control" data-ng-model="appSettings.lastIp"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_port" class="control-label">Server Port</label>
                        <input id="input_settings_port" type="text" class="form-control" data-ng-model="appSettings.lastPort"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_id" class="control-label">Broadcast Identifier</label>
                        <input id="input_settings_id" type="text" class="form-control" data-ng-model="appSettings.broadcastIdentifier"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_version" class="control-label">Version Check Url</label>
                        <input id="input_settings_version" type="text" class="form-control" data-ng-model="appSettings.updateVersionCheckUrl"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_config_folder" class="control-label">Data Folder</label>
                        <input id="input_settings_config_folder" type="text" class="form-control" data-ng-model="appSettings.dataFolder"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_process" class="control-label">Process Name</label>
                        <input id="input_settings_process" type="text" class="form-control" data-ng-model="appSettings.lastProcessName"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_fore" class="control-label">Use Foreground Window</label>
                        <input id="input_settings_fore" type="checkbox" class="form-control" data-ng-model="appSettings.useForegroundWindow"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_updates" class="control-label">Check updates on start</label>
                        <input id="input_settings_updates" type="checkbox" class="form-control" data-ng-model="appSettings.checkUpdateOnStart"/>
                    </div>
                    <div class="form-group">
                        <label for="input_settings_updates" class="control-label">Enable Keyboard and Mouse (Experimental)</label>
                        <input id="input_settings_updates" type="checkbox" class="form-control" data-ng-model="appSettings.enableKeyboardAndMouse"/>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <input type="submit" value="Save" class="btn btn-default" data-ng-click="saveSettings()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>