<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1" />
    <meta name="viewport" content="height=device-height, user-scalable=no initial-scale=1" />
    <title>KeySndr - Setup</title>
    <link rel="SHORTCUT ICON" href="media/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app/controllers/main-controller.js"></script>
    <script src="scripts/app/controllers/setup-controller.js"></script>
    <script src="scripts/app/services/api_service.js"></script>
</head>
<body ng-app="keysndr" data-ng-controller="mainController">
    <header ng-include src="'views/partials/navigation.html'"></header>

<div class="container body-content">
    <div data-ng-controller="setupController">
        <div ng-include src="'views/partials/success-message-row.html'"></div>
        <div ng-include src="'views/partials/error-message-row.html'"></div>

        <div class="row" data-ng-show="config != null">
            <div class="col-md-8">
                <div data-ng-show="stage === 1" data-ng-include src="'views/partials/setup-stage-1.html'"></div>
                <div data-ng-show="stage === 2" data-ng-include src="'views/partials/setup-stage-2.html'"></div>
                <div data-ng-show="stage === 3" data-ng-include src="'views/partials/setup-stage-3.html'"></div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button title="Go Back"
                                type="button"
                                class="btn"
                                data-ng-class="{'btn-danger': stage <= 1, 'btn-primary': stage > 1}"
                                data-ng-disabled="stage <= 1"
                                data-ng-click="goBack()">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </button>
                        <button title="Next step"
                                type="button"
                                class="btn"
                                data-ng-class="{'btn-danger': stage >= 2, 'btn-primary': stage < 2}"
                                data-ng-click="advance()">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>